@using System.Collections.Generic;
@model List<CE.Entidades.Alumno>
@{
    var request = ViewBag.request;
    ViewBag.Title = "Index";
    ViewBag.Nombre = ViewBag.nom;
    ViewBag.ApellidoPaterno = ViewBag.ape;
    Layout = "~/Views/Shared/BaseIndex.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabla Alumnos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID_Alumno</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Usuario</th>
                        <th><a> Ver </a></th>
                        <th><a> Editar </a></th>
                        <th><a> Eliminar </a></th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        foreach (var item in Model)
                        {
                            <tr>

                                <td> @item.ID_Alumno </td>

                                <td> @item.Nombre_Alumno </td>

                                <td> @item.ApePaterno_Alumno </td>

                                <td> @item.ApeMaterno_Alumno </td>

                                <td> @item.FK_ID_Usuario </td>

                                <td><a class="btn btn-success" href="/Alumno/Details/@item.FK_ID_Usuario"> <span class="icon text-white-50"></span><span class="text">Ver</span></a></td>
                                <td><a class="btn btn-warning" href="/Alumno/Editar/@item.FK_ID_Usuario"> <span class="icon text-white-50"></span><span class="text">Editar</span></a></td>
                                <td><a class="btn btn-danger" href="/Alumno/Delete/@item.FK_ID_Usuario"> <span class="icon text-white-50"></span><span class="text">Eliminar</span></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


